[Desktop Entry]
Categories=
Comment=Blueman Bluetooth Manager
Comment[ast]=Blueman Bluetooth Manager
Comment[be]=Blueman Bluetooth Manager
Comment[ca]=Blueman Bluetooth Manager
Comment[da]=Blueman Bluetooth Manager
Comment[de]=Blueman Bluetooth Manager
Comment[el]=Blueman Bluetooth Manager
Comment[es]=Blueman Bluetooth Manager
Comment[et]=Blueman Bluetooth Manager
Comment[fi]=Blueman Bluetooth Manager
Comment[fr]=Blueman Bluetooth Manager
Comment[he]=Blueman Bluetooth Manager
Comment[hr]=Blueman Bluetooth Manager
Comment[hu]=Blueman Bluetooth Manager
Comment[it]=Blueman Bluetooth Manager
Comment[ja]=Blueman Bluetooth Manager
Comment[ko]=Blueman Bluetooth Manager
Comment[lt]=Blueman Bluetooth Manager
Comment[nb]=Blueman Bluetooth Manager
Comment[nl]=Blueman Bluetooth Manager
Comment[oc]=Blueman Bluetooth Manager
Comment[pl]=Blueman Bluetooth Manager
Comment[pt]=Blueman Bluetooth Manager
Comment[pt_BR]=Blueman Bluetooth Manager
Comment[ru]=Blueman Bluetooth Manager
Comment[sk]=Blueman Bluetooth Manager
Comment[sl]=Blueman Bluetooth Manager
Comment[sv]=Blueman Bluetooth Manager
Comment[tr]=Blueman Bluetooth Manager
Comment[uk]=Blueman Bluetooth Manager
Comment[zh_CN]=Blueman Bluetooth Manager
Exec=blueman-applet
Hidden=false
Icon=blueman
Name=Blueman Applet
Name[be]=Blueman Applet
Name[da]=Blueman Applet
Name[de]=Blueman Applet
Name[el]=Blueman Applet
Name[es]=Blueman Applet
Name[et]=Blueman Applet
Name[fi]=Blueman Applet
Name[fr]=Blueman Applet
Name[he]=Blueman Applet
Name[hr]=Blueman Applet
Name[hu]=Blueman Applet
Name[it]=Blueman Applet
Name[ja]=Blueman Applet
Name[ko]=Blueman Applet
Name[mr]=Blueman Applet
Name[ms]=Blueman Applet
Name[nb]=Blueman Applet
Name[nl]=Blueman Applet
Name[oc]=Blueman Applet
Name[pl]=Blueman Applet
Name[pt]=Blueman Applet
Name[pt_BR]=Blueman Applet
Name[ru]=Blueman Applet
Name[sk]=Blueman Applet
Name[sl]=Blueman Applet
Name[sv]=Blueman Applet
Name[tr]=Blueman Applet
Name[uk]=Blueman Applet
Name[zh_CN]=Blueman Applet
Terminal=false
Type=Application

