[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Cargar fondo de pantalla
Comment=
Exec=/home/kevin/.fehbg &
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

