[Desktop Entry]
Exec=/usr/libexec/geoclue-2.0/demos/agent
GenericName=Demo geoclue agent
Hidden=false
Icon=mark-location-symbolic
Keywords=geolocation;
Name=Geoclue Demo agent
NoDisplay=true
NotShowIn=GNOME;
Terminal=false
Type=Application

