[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Gestos táctiles
Comment=
Exec=touchegg &
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=true

