[Desktop Entry]
Type=Application
Exec=lxqt-powermanagement
Hidden=false
Name[es_US]=Gestor de energía
Name=Gestor de energía
Comment[es_US]=
Comment=
X-MATE-Autostart-Delay=0
