[Desktop Entry]
Comment=
Comment[es_US]=
Exec=dunst
Hidden=true
Name=Demonio de notificaciones
Name[es_US]=Demonio de notificaciones
Type=Application
X-MATE-Autostart-Delay=0
