[Desktop Entry]
Comment=
Comment[es_US]=
Exec=lxqt-powermanagement
Hidden=true
Name=Gestor de energía
Name[es_US]=Gestor de energía
Type=Application
X-MATE-Autostart-Delay=0
