[Desktop Entry]
Exec=pipewire-pulse
Hidden=true
Icon=dialog-scripts
Name=pipewire-pulse
Path=
Type=Application
X-GNOME-Autostart-Delay=2
X-KDE-AutostartScript=true
