[Desktop Entry]
Exec=wpa-cute -qt &
Name=wpacute
Type=Application
Version=1.0
X-LXQt-Need-Tray=true
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=5
X-MATE-Autostart-Delay=2
Comment=
RunHook=0
Hidden=true

