[Desktop Entry]
Comment=
Exec=wpa-cute -qt
Name=wpacute
RunHook=0
Type=Application
Version=1.0
X-GNOME-Autostart-Delay=5
X-GNOME-Autostart-enabled=true
X-LXQt-Need-Tray=true
X-MATE-Autostart-Delay=2
