[Desktop Entry]
Comment=Policykit Authentication Agent
Exec=/usr/libexec/xfce-polkit
Hidden=false
Icon=gtk-dialog-authentication
Name=XFCE PolKit
NotShowIn=GNOME;KDE;
Type=Application

