[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=XP Pen
Comment=
Exec=sh -c "sleep 4 && /usr/lib/pentablet/PenTablet.sh /mini"
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=true

