[user]
forceIconSize=true
iconSize=32
indicatorColor=rgb(186,34,23)
inactiveColor=rgb(69,3,3)
pinned=/usr/share/applications/firefox.desktop;/usr/share/applications/kitty.desktop;/home/kevin/.local/share/applications/org.telegram.desktop._3f83b0001c446a94143485ba3d1bf6b1.desktop;/usr/share/applications/nemo.desktop;/usr/share/applications/krita_psd.desktop;/usr/share/applications/steam.desktop;
showPreviews=true
showWindowCount=true
onlyDisplayScreen=true
onlyDisplayVisible=true
noWindowsListIfSingle=true
