favorites=
recent=qps.desktop,virtualbox.desktop,org.kde.krita.desktop,org.telegram.desktop._3f83b0001c446a94143485ba3d1bf6b1.desktop,org.kde.falkon.desktop,org.keepassxc.KeePassXC.desktop,xed.desktop,micro.desktop
button-title=\ \ Cereus Linux\ \ \ 
button-icon=cereus-logo
button-single-row=false
show-button-title=true
show-button-icon=true
launcher-show-name=true
launcher-show-description=true
launcher-show-tooltip=true
launcher-icon-size=2
hover-switch-category=false
category-show-name=true
category-icon-size=1
sort-categories=true
view-mode=0
default-category=0
recent-items-max=10
favorites-in-recent=true
position-search-alternate=false
position-commands-alternate=false
position-categories-alternate=false
position-categories-horizontal=false
stay-on-focus-out=true
profile-shape=0
confirm-session-command=true
menu-width=535
menu-height=625
menu-opacity=75
command-settings=xfce4-settings-manager
show-command-settings=false
command-lockscreen=betterlockscreen -l dimblur
show-command-lockscreen=true
command-switchuser=dm-tool switch-to-greeter
show-command-switchuser=false
command-logoutuser=icesh logout
show-command-logoutuser=true
command-restart=icesh reboot
show-command-restart=true
command-shutdown=icesh poweroff
show-command-shutdown=true
command-suspend=icesh suspend
show-command-suspend=true
command-hibernate=loginctl hibernate
show-command-hibernate=true
command-logout=icsh\ 
show-command-logout=false
command-menueditor=menulibre
show-command-menueditor=true
command-profile=mugshot
show-command-profile=false
search-actions=6

[action0]
name=Man Pages
pattern=#
command=exo-open --launch TerminalEmulator man %s
regex=false

[action1]
name=Search the Web
pattern=?
command=exo-open --launch WebBrowser https://duckduckgo.com/?q=%u
regex=false

[action2]
name=Search for Files
pattern=-
command=catfish --path=~ --start %s
regex=false

[action3]
name=Wikipedia
pattern=!w
command=exo-open --launch WebBrowser https://en.wikipedia.org/wiki/%u
regex=false

[action4]
name=Run in Terminal
pattern=!
command=exo-open --launch TerminalEmulator %s
regex=false

[action5]
name=Open URI
pattern=^(file|http|https):\\/\\/(.*)$
command=exo-open \\0
regex=true

