[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/media/DATOS/Escritorio/lwqt-panel.tar.xz]
row=6
col=9

[/media/DATOS/Escritorio/Pokemon - Crystal Version (UE) (V1.1) [C][!].gbc]
row=8
col=9

[/media/DATOS/Escritorio/1.jpg]
row=6
col=5

[/media/DATOS/Escritorio/85101416_p0.jpg]
row=7
col=5

[/media/DATOS/Escritorio/README.md]
row=3
col=3

[/media/DATOS/Escritorio/pc-bg.24aaaa1654f269624896.jpg]
row=1
col=11

[/media/DATOS/Escritorio/urxvt-tabbedex-22.32.tar.bz2]
row=2
col=2

[/media/DATOS/Escritorio/2022-10-15_18-32.png]
row=0
col=9

[/media/DATOS/Escritorio/|Kingston_DataTraveler_2_2e0_001BFC3653BCC16049046407_1.desktop]
row=2
col=12

[/media/DATOS/Escritorio/xviewer-plugins-1.4.1.tar.gz]
row=0
col=8

[/media/DATOS/Escritorio/lwqt-session.tar.xz]
row=4
col=4

[/media/DATOS/Escritorio/Tela-icon-theme-2022-08-28.tar.gz]
row=2
col=3

[/media/DATOS/Escritorio/20220901115723980.pdf]
row=4
col=6

[/media/DATOS/Escritorio/ff073029ed4204edc07be6f0a4be16dc.png]
row=0
col=11

[/media/DATOS/Escritorio/2022-09-08_15-20.png]
row=1
col=5

[/media/DATOS/Escritorio/Misc]
row=6
col=1

[/media/DATOS/Escritorio/com.blackmagicdesign.resolve.desktop]
row=2
col=13

[/media/DATOS/Escritorio/salida.pdf]
row=7
col=8

[/media/DATOS/Escritorio/Kevin MacLeod - Enchanted Journey.mp3]
row=4
col=11

[/media/DATOS/Escritorio/tarea 1]
row=8
col=2

[/media/DATOS/Escritorio/escritorio-2.png]
row=5
col=13

[/media/DATOS/Escritorio/lwqtsession-1.1.1-1.lpkg]
row=3
col=4

[/media/DATOS/Escritorio/New Folder]
row=5
col=1

[/media/DATOS/Escritorio/black.png]
row=1
col=12

[/media/DATOS/Escritorio/lwqt-pcmanfm]
row=8
col=3

[/media/DATOS/Escritorio/100330264_p0-1.jpg]
row=8
col=13

[/media/DATOS/Escritorio/100330264_p0.jpg]
row=0
col=14

[/media/DATOS/Escritorio/whatsdesk_0.3.9_amd64.deb]
row=8
col=1

[/media/DATOS/Escritorio/1.png]
row=5
col=5

[/media/DATOS/Escritorio/prueba.sh]
row=0
col=7

[/media/DATOS/Escritorio/tarea 2]
row=6
col=2

[/media/DATOS/Escritorio/xviewer-3.2.10.tar.gz]
row=1
col=8

[/media/DATOS/Escritorio/Pokemon - Crystal Version (UE) (V1.1) [C][!].zip]
row=4
col=3

[/media/DATOS/Escritorio/image_2022-09-02_12-45-04.png]
row=7
col=4

[/media/DATOS/Escritorio/CamScanner 07-05-2022 08.05.kra]
row=4
col=7

[/media/DATOS/Escritorio/tercero1.png]
row=5
col=8

[/media/DATOS/Escritorio/KOFXIII ONLINE ~MSTX~.rar]
row=1
col=10

[/media/DATOS/Escritorio/Fightcade]
row=7
col=1

[/media/DATOS/Escritorio/escritorio.png]
row=6
col=12

[/media/DATOS/Escritorio/sof-bin-v2.2.2.tar.gz]
row=6
col=11

[/media/DATOS/Escritorio/cereus-logo.png]
row=1
col=9

[/media/DATOS/Escritorio/tarea 3]
row=5
col=2

[/media/DATOS/Escritorio/config.pcfg]
row=5
col=12

[/media/DATOS/Escritorio/logo.png]
row=5
col=10

[/media/DATOS/Escritorio/XPPen-pentablet-3.2.3.220323-1.x86_64.tar.gz]
row=3
col=11

[/media/DATOS/Escritorio/3.png]
row=8
col=5

[/media/DATOS/Escritorio/case2.sh]
row=0
col=3

[/media/DATOS/Escritorio/lwqtpanel-1.1.1-1.lpkg]
row=4
col=9

[/media/DATOS/Escritorio/palemoon_31.2.0.1-1.gtk2_amd64.deb]
row=1
col=4

[/media/DATOS/Escritorio/recibo2.jpg]
row=7
col=6

[/media/DATOS/Escritorio/92648033.gif]
row=6
col=7

[/media/DATOS/Escritorio/plpbt-5.0.15.zip]
row=2
col=7

[/media/DATOS/Escritorio/2_5_4_ColorFilter_1_1.bps]
row=0
col=6

[/media/DATOS/Escritorio/2022-09-08_15-20.kra]
row=2
col=5

[/media/DATOS/Escritorio/video1945676460.mp4]
row=2
col=8

[/media/DATOS/Escritorio/tareacompu]
row=3
col=2

[/media/DATOS/Escritorio/build.sh]
row=1
col=3

[/media/DATOS/Escritorio/Need for Speed™ Most Wanted.desktop]
row=7
col=12

[/media/DATOS/Escritorio/Crystal_Clear.gbc]
row=7
col=7

[/media/DATOS/Escritorio/|Kingston_DataTraveler_2_2e0_001BFC3653BCC16049046407_2.desktop]
row=3
col=12

[/media/DATOS/Escritorio/urxvt-tabbedex-21.47.tar.bz2]
row=4
col=8

[/media/DATOS/Escritorio/lwqtpanel-1.1.0-1.lpkg]
row=5
col=9

[/media/DATOS/Escritorio/Pixelart Kevin Figueroa.xlsx]
row=0
col=10

[/media/DATOS/Escritorio/recibo.jpg]
row=8
col=6

[/media/DATOS/Escritorio/conf]
row=7
col=10

[/media/DATOS/Escritorio/pasystray.desktop]
row=2
col=9

[/media/DATOS/Escritorio/tarea 2.2]
row=7
col=2

[/media/DATOS/Escritorio/palemoon_31.2.0.1-1.gtk2_i386.deb]
row=3
col=9

[/media/DATOS/Escritorio/rustdesk-1.1.9]
row=0
col=1

[/media/DATOS/Escritorio/wip]
row=6
col=13

[/media/DATOS/Escritorio/pkg_list.txt]
row=4
col=10

[/media/DATOS/Escritorio/2.jpg]
row=4
col=5

[/media/DATOS/Escritorio/4510897.png]
row=8
col=12

[/media/DATOS/Escritorio/esquema kevin.docx]
row=8
col=4

[/media/DATOS/Escritorio/lwqtpcmanfm-1.1.0-1.lpkg]
row=0
col=2

[/media/DATOS/Escritorio/audio_2022-09-21_17-18-27.ogg]
row=7
col=9

[/media/DATOS/Escritorio/vala-panel-plugin-sntray-0.4.12-lp152.1.1.src.rpm]
row=7
col=11

[/media/DATOS/Escritorio/logo.kra]
row=6
col=10

[/media/DATOS/Escritorio/lwqt-pcmanfm.tar.xz]
row=5
col=4

[/media/DATOS/Escritorio/examen]
row=3
col=1

[/media/DATOS/Escritorio/kevin_foto.jpg]
row=2
col=10

[/media/DATOS/Escritorio/2022-10-14_17-23.png]
row=5
col=6

[/media/DATOS/Escritorio/openzfs.png]
row=7
col=13

[/media/DATOS/Escritorio/sof-bin-v2.2.2]
row=5
col=11

[/media/DATOS/Escritorio/v0.16.0beta.tar.gz]
row=3
col=10

[/media/DATOS/Escritorio/|SABRENT_SABRENT_DB9876543214E_1.desktop]
row=4
col=12

[/media/DATOS/Escritorio/conclusiones]
row=4
col=13

[/media/DATOS/Escritorio/steam.desktop]
row=6
col=8

[/media/DATOS/Escritorio/lwqt-panel]
row=0
col=4

[/media/DATOS/Escritorio/Documento no guardado 1]
row=2
col=6

[/media/DATOS/Escritorio/misc2]
row=7
col=3

[/media/DATOS/Escritorio/2022-09-22_22-49.png]
row=6
col=6

[/media/DATOS/Escritorio/Apex Legends.desktop]
row=5
col=7

[/media/DATOS/Escritorio/list.txt]
row=6
col=4

[/media/DATOS/Escritorio/88723052_p0_upscayl_4x_realesrgan-x4plus.png]
row=3
col=13

[/media/DATOS/Escritorio/-klbw3Q2q-f2gkZ1nT3cS1hc-u0.jpg]
row=8
col=10

[/media/DATOS/Escritorio/picom-chido]
row=6
col=3

[/media/DATOS/Escritorio/2.png]
row=3
col=5

[/media/DATOS/Escritorio/Paladins.desktop]
row=8
col=7

[/media/DATOS/Escritorio/picom-chido.tar.gz]
row=3
col=7

[/media/DATOS/Escritorio/88723052_p0_upscayl_8x_realesrgan-x4plus.png]
row=0
col=13

[/media/DATOS/Escritorio/scripts]
row=8
col=0

[/media/DATOS/Escritorio/surtr]
row=7
col=0

[/media/DATOS/Escritorio/EVALUACIÓN TERCER BIMESTRE DIVER.kra]
row=1
col=6

[/media/DATOS/Escritorio/video1252370342.mp4]
row=3
col=8

[/media/DATOS/Escritorio/cereus-logos]
row=4
col=1

[/media/DATOS/Escritorio/EVALUACIÓN TERCER BIMESTRE DIVER.pdf]
row=5
col=3

[/media/DATOS/Escritorio/DATOS USCIS.TXT]
row=3
col=6

[/media/DATOS/Escritorio/opensus.png]
row=2
col=4

[/media/DATOS/Escritorio/lwqt-session]
row=1
col=1

[/media/DATOS/Escritorio/Book1.xlsx]
row=1
col=2

[/media/DATOS/Escritorio/rustdesk-1.1.9.deb]
row=8
col=8

[/media/DATOS/Escritorio/plymouth.png]
row=1
col=7

[/media/DATOS/Escritorio/desktop.png]
row=0
col=5

[/media/DATOS/Escritorio/tarea]
row=4
col=2

[/media/DATOS/Escritorio/fotos]
row=2
col=1

[/media/DATOS/Escritorio/list (copia).txt]
row=2
col=11

[/media/DATOS/Escritorio/os_cereus.png]
row=1
col=13

[/media/DATOS/Escritorio/102133121_p0.png]
row=8
col=11

[/media/DATOS/Escritorio/indice]
row=0
col=12

[10194983721396479075]
row=2
col=0

[deadbb63-3469-414e-b52c-7964ef8c1c2c]
row=1
col=0

[2022-11-22-03-30-35-00]
row=0
col=0

[DATOS]
row=3
col=0

[Papelera]
row=4
col=0

[/]
row=5
col=0

[/home/kevin]
row=6
col=0

